body {
    margin: 0 auto;
    max-width: 900px;
    background-color: #990909;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav {
    background-color: #000000;
}

.nav_list, .left_list {
    display: flex;
    padding: 0;
    margin: 15px 0 5px 0;
}

li > img {
    width: 120px;
}

.nav_link {
    margin-top: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.nav_list_component, .left_list_component {
    list-style-type: none;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    display: flex;
}

.left {
    background-color: #7D0909;
    margin-top: 10px;}

.left_list {
    display: flex;
    flex-wrap: wrap;
}

.left_list_component {
    margin: 0 40px 10px 0;
}

.left_link {
    color: #D85B11;
}

.center {
    color: #FFFFFF;
}

.right {
    background-color: #E3DDDD;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}

.right_title {
    background-color: #BDBDBD;
    width: 99%;
    margin: 0;
    text-align: center;
}

.right_line {
    background-color: #9A9A9A;
    height: 1px;
    width: 50%;
}

.footer {
    background-color: #E95B11;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer_content {
    font-size: 20px;
    color: #FFFFFF;
}